@page "/customintel"
@using ArgusFrontend.Models
@using ArgusFrontend.Services

<PageTitle>Administration</PageTitle>

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>

        <div class="container mt-5">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white text-center">
                    <h2 class="display-6">Perform Administrative Tasks</h2>
                    <p class="lead">Create, view, and delete intel and entities.</p>
                </div>

                <div class="card-body">
                    <p>Use the buttons below to navigate to different administrative tasks:</p>
                </div>

                <div class="card-footer d-flex justify-content-center">
                    <button class="btn btn-primary mx-2"><a href="/customintel/fileintel" class="btn btn-primary">Create File intel</a></button>
                    <button class="btn btn-primary mx-2"><a href="/customintel/urlintel" class="btn btn-primary">Create URL intel</a></button>
                    <button class="btn btn-primary mx-2"><a href="/customintel/registeruser" class="btn btn-primary">Register User</a></button>
                </div>
            </div>
        </div>

        
    </Authorized>
    <NotAuthorized>
        <p>You aren't logged in. <a href="/login">Login now?</a></p>
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>


@code {
    
}
