@page "/access-denied"

<h3>Access Denied</h3>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body flex-column">
				<div class="text-center mt-2">
					<i class="bi bi-eye-slash-fill fs-2 me-2 align-middle"></i>
					<span class="text-danger fw-bolder align-middle">You don't have permission to access this page.</span>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

}
