/* _content/ArgusFrontend/Components/Layout/MainLayout.razor.rz.scp.css */
:root[b-pmhmisjd8a] {
    --lemon-chiffon: #F6F4CDff;
    --onyx: #373A39ff;
    --ecru: #C6B389ff;
    --eerie-black: #1E2021ff;
    --eerie-black-2: #1D1E1Eff;
}

.page[b-pmhmisjd8a] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--eerie-black);
    color: var(--lemon-chiffon);
}

main[b-pmhmisjd8a] {
    flex: 1;
    background-color: var(--onyx);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.sidebar[b-pmhmisjd8a] {
    background-image: linear-gradient(180deg, var(--onyx) 0%, var(--eerie-black-2) 100%);
    color: var(--lemon-chiffon);
    padding: 1rem;
}

.top-row[b-pmhmisjd8a] {
    background-color: var(--ecru);
    border-bottom: 1px solid var(--onyx);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    color: var(--eerie-black);
}

    .top-row[b-pmhmisjd8a]  a, .top-row[b-pmhmisjd8a]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        color: var(--eerie-black-2);
    }

        .top-row[b-pmhmisjd8a]  a:hover, .top-row[b-pmhmisjd8a]  .btn-link:hover {
            text-decoration: underline;
            color: var(--onyx);
        }

        .top-row[b-pmhmisjd8a]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-pmhmisjd8a] {
        justify-content: space-between;
    }

        .top-row[b-pmhmisjd8a]  a, .top-row[b-pmhmisjd8a]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-pmhmisjd8a] {
        flex-direction: row;
    }

    .sidebar[b-pmhmisjd8a] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    }

    .top-row[b-pmhmisjd8a] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-pmhmisjd8a]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-pmhmisjd8a], article[b-pmhmisjd8a] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-pmhmisjd8a] {
    background: var(--lemon-chiffon);
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-pmhmisjd8a] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
        color: var(--eerie-black);
    }
/* _content/ArgusFrontend/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-grjomkfnni] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: var(--lemon-chiffon);
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(246, 244, 205, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

    .navbar-toggler:checked[b-grjomkfnni] {
        background-color: rgba(246, 244, 205, 0.5);
    }

.top-row[b-grjomkfnni] {
    height: 3.5rem;
    background-color: var(--eerie-black);
}

.navbar-brand[b-grjomkfnni] {
    font-size: 1.1rem;
    color: var(--ecru);
}

.bi[b-grjomkfnni] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -0.75rem;
    background-size: cover;
    font-size: 18px;
}

.nav-item[b-grjomkfnni] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-grjomkfnni] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-grjomkfnni] {
        padding-bottom: 1rem;
    }

    .nav-item[b-grjomkfnni]  .nav-link {
        color: var(--lemon-chiffon);
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item[b-grjomkfnni]  a.active {
        background-color: rgba(198, 179, 137, 0.37);
        color: var(--lemon-chiffon);
    }

    .nav-item[b-grjomkfnni]  .nav-link:hover {
        background-color: rgba(198, 179, 137, 0.1);
        color: var(--lemon-chiffon);
    }

.nav-scrollable[b-grjomkfnni] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-grjomkfnni] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-grjomkfnni] {
        display: none;
    }

    .nav-scrollable[b-grjomkfnni] {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
