@page "/fileHash"
@using fileHash
@using ArgusFrontend.Services
@using Newtonsoft.Json
@inject VirusTotalService VirusTotalService

<h3>File Hash Scan</h3>
<InputText @bind-Value="hash" DisplayName="Enter file hash."/>
<button @onclick="GetReport">Scan</button>

@if (report != null)
{
		<pre>@(JsonConvert.SerializeObject(report, Formatting.Indented))</pre>
}

@code {
	private string hash;
	private Hash report;

	private async Task GetReport()
	{
		Console.WriteLine("Button clicked.");
		report = await VirusTotalService.GetFileHashReportAsync(hash);
	}
}
