@page "/"

<PageTitle>Home</PageTitle>

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
	<Authorized>
		<h1>Hello, world!</h1>

		Welcome to your new app.
	</Authorized>
	<NotAuthorized>
        <p>You aren't logged in. <a href="/login">Login now?</a></p>
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
