@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager Navigation

<h3>Logout</h3>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body flex-column">
				<div class="text-center mt-2">
					<i class="bi bi-door-closed-fill fs-2 me-2 align-middle"></i>
					<span class="text-danger fw-bolder align-middle">You have successfully logged out.</span>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	[CascadingParameter]
	public HttpContext? HttpContext { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		if (HttpContext.User.Identity.IsAuthenticated)
		{
			await HttpContext.SignOutAsync();
			Navigation.NavigateTo("/logout", true);
		}
	}
}
